.terminal-display-container {
  width: 100%;
  padding: 5px;
  height: 100%;
  background-color: #0f1628;
  overflow-y: auto;
  overflow-x: hidden;
}

.command {
  color: #1ac40d;
  padding: 5px;
}
.command-symbol {
  display: inline-block;
  color: #1ac40d;
  font-size: 20px;
  text-align: center;
  height: 25px;
  width: 25px;
}

.standard {
  color: #e5e9f0;
}

.standard,
.error {
  padding-left: 20px;
}

.error {
  color: #ec0361;
}
